<div class="container my-5">
    <h3 class="mb-3">Add New Quote</h3>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addQuotes()">

                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author"
                           name="author" [(ngModel)]="quotes.author">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Tags</label>
                    <input type="text" class="form-control" id="title"
                           name="title" [(ngModel)]="tags">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Quote</label>
                    <input type="text" class="form-control" id="description"
                           name="email" [(ngModel)]="quotes.quote">
                </div>
                <div class="row">
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    <div class="col-10">
                        <a class="btn btn-primary" routerLink="">Back to Quotes</a>
                    </div>
                    <p></p>
                </div>

            </form>
        </div>
    </div>
</div>